# Server
PORT=3000
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=kudwa
DB_USER=postgres
DB_PASSWORD=example

# Data Sources
DATASET_1_PATH=./data/data_set_1.json
DATASET_2_PATH=./data/data_set_2.json

